{% extends "base.html.twig" %}

{% block title %}Login - {{ app_name }}{% endblock %}

{% block body_class %}login-page{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <div class="login-header">
            <svg width="50" height="50" viewBox="0 0 24 24" fill="#25D366" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H6l-2 2V4h16v12z"/>
                <circle cx="8" cy="10" r="1.5"/>
                <circle cx="12" cy="10" r="1.5"/>
                <circle cx="16" cy="10" r="1.5"/>
            </svg>
            <h1>{{ app_name }}</h1>
        </div>
        
        {% if error %}
        <div class="error-message">{{ error }}</div>
        {% endif %}
        
        <form method="POST" action="" data-validate='{"username":"required","password":"required"}'>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required autofocus>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <button type="submit" class="btn-login">Login</button>
        </form>
        
        <div class="login-footer">
        </div>
    </div>
</div>
{% endblock %}
